.header
  width: 100%
  max-width: 136.6rem
  min-width: 103rem
  margin: auto
  padding-left: 17rem
  padding-right: 16.6rem
  flex-wrap: wrap
  justify-content: space-between
  margin-top: 5rem

.logo
  font-size: 0
  flex: none
  align-items: flex-start
  &::before,
  &::after
    content: ''
    display: block

.nav
  display: flex
  align-items: center
  &__link
    font-size: 1.5rem
    font-weight: 100
    text-transform: uppercase
    color: #fff
    margin-left: 4rem