.timer
  border: .2rem solid #90d23d
  border-radius: 2rem
  padding: 0 7rem 2.5rem
  margin-top: 12rem
  &__item
    display: flex
    flex-flow: column
    flex-grow: 1
    align-items: center
  & span
    font-family: Roboto Slab
    color: #fff
    text-transform: uppercase
  &__num,
  &__colon
    font-size: 13rem
    font-weight: 100
  &__text
    font-size: 2.5rem
    font-weight: 400