header.header.flex
  .logo
    img(src='assets/img/header__logo.png' alt='').logo__img
  nav.nav
    a(href='#0').nav__link Event Details
    a(href='#0').nav__link Speakers
    a(href='#0').nav__link Sponsors
    a(href='#0').nav__link Past Events
    a(href='#0').nav__link Contact