.layout
  section.section.timer
    .timer__item
      span.timer__num 20
      span.timer__text days
    .timer__item
      span.timer__colon :
    .timer__item
      span.timer__num 03
      span.timer__text hours
    .timer__item
      span.timer__colon :
    .timer__item
      span.timer__num 06
      span.timer__text minutes
    .timer__item
      span.timer__colon :
    .timer__item
      span.timer__num 52
      span.timer__text seconds

