doctype html
head
  title Meetup
  meta(charset='utf-8')
  meta(name='description' content='')
  meta(name='keywords' content='')
  include __assets/styles
  //include __assets/scripts
body.flex
  include __blocks/header
  main.main
    block main
  include __blocks/footer